@page "/algorithms/association-rules/results"

@inject IAssociationRulesService AssociationRulesServ;

@using Blazorise.DataGrid

<Container>
  <h1>Previous Results</h1>
  <Row>
    <Column ColumnSize="ColumnSize.Is6.OnDesktop.Is12">
      <Div>
        <Field>
          <Select TValue="int" @bind-SelectedValue="@selectedFileId">
            @foreach (var file in uploadedFiles)
            {
              <SelectItem Value="@file.Id">@file.Id - @file.Name</SelectItem>
            }
          </Select>
        </Field>
      </Div>
    </Column>
    <Column ColumnSize="ColumnSize.Is6.OnTablet.Is12">
      <Buttons>
        <Button Clicked="@GetRules" Color="Color.Info" Size="Size.Small">Get Rules</Button>
      </Buttons>
    </Column>
  </Row>

  @if (execResults.Count > 0)
  {
    @foreach (var item in @execResults)
    {
    <h3>Exec (@item.Id) at @item.CreatedAt</h3>
    <DataGrid TItem="AssociationRulesResponse"
          Data="@item.Rules"
          Responsive>
      <DataGridCommandColumn />
      <DataGridColumn Field="@nameof(AssociationRulesResponse.Antecedent)" Caption="Antecedent" Sortable="false" />
      <DataGridColumn Field="@nameof(AssociationRulesResponse.Consequent)" Caption="Consequent" Sortable="false" />
      <DataGridColumn Field="@nameof(AssociationRulesResponse.Support)" Caption="Support" Sortable="true" />
      <DataGridColumn Field="@nameof(AssociationRulesResponse.Confidence)" Caption="Confidence" Sortable="true" />
      <DataGridColumn Field="@nameof(AssociationRulesResponse.Lift)" Caption="Lift" Sortable="true" />
    </DataGrid>
    }
  }
</Container>

@code{
  private List<FileModel> uploadedFiles = new();
  private List<AssociationRulesExecResponse> execResults = new List<AssociationRulesExecResponse>();
  private int selectedFileId;

  protected override async Task OnInitializedAsync()
  {
    this.uploadedFiles.AddRange(await AssociationRulesServ.GetFiles());
    selectedFileId = this.uploadedFiles.First().Id;

    await base.OnInitializedAsync();
    StateHasChanged();
  }

  private async void GetRules()
  {
    var response = await this.AssociationRulesServ.GetExecRules(selectedFileId);
    this.execResults.Clear();
    this.execResults.AddRange(response);
    StateHasChanged();
  }
}